<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="slashgg" value="https://pkgs.dev.azure.com/slashgg/_packaging/Slashgg.Svalbard/nuget/v3/index.json" protocolVersion="3"/>
  </packageSources>
    <packageSourceCredentials>
    <slashgg>
      <add key="Username" value="feed-token" />
      <add key="ClearTextPassword" value="kswzjtdmoqar74npeogv6pploxinosfk7kyslfidgcuc7moseuza" />
    </slashgg>
  </packageSourceCredentials>
</configuration>